@charset "UTF-8";

* {
  margin: 0px;
  padding: 0px;
}

h1 {
  margin-bottom: 15px;
}

.cronometro {
  text-align: center;
}

.timer {
  padding: 20px 0px;
  font-size: 80px;
  color: #fff;
  text-shadow: 5px 5px 5px #000000b6;
}

button {
  color: #fff;
  padding: 5px 10px;
  margin: 1px;
  width: 60px;
  border-radius: 10px;
  border: 1px solid #000000;
  box-shadow: 2px 2px 5px #000000b6;
  /* display: inline-block; */
}

.play {
  background-color: #006400c4;
}

.pause {
  background-color: #555555be;
}

.stop {
  background-color: #ff0000c4;
}

.play:hover {
  background-color: darkgreen;
}

.pause:hover {
  background-color: #555555;
}

.stop:hover {
  background-color: #ff0000;
}

section p a:hover {
  text-decoration: underline;
  color: #07111b;
}

p {
  margin-top: 50px;
}

ul {
  margin-left: 15px;
}