@charset "UTF-8";

* {
  margin: 0px;
  padding: 0px;
}

h1 {
  margin-bottom: 15px;
}

.cronometro {
  text-align: center;
}

.timer {
  padding: 20px 0px;
  font-size: 100px;
  color: #fff;
  text-shadow: 5px 5px 5px #000000b6;
}

button {
  color: #fff;
  font-size: 20px;
  padding: 5px;
  margin: 5px;
  border-radius: 10px;
  border: 1px solid #000000;
  box-shadow: 2px 2px 5px #000000b6;
}

.iniciar {
  background-color: #006400c4;
}

.parar {
  background-color: #ff0000c4;
}

.zerar {
  background-color: #555555be;
}

.iniciar:hover {
  background-color: darkgreen;
}

.parar:hover {
  background-color: #ff0000;
}

.zerar:hover {
  background-color: #555555;
}

section p a:hover {
  text-decoration: underline;
  color: #07111b;
}

p {
  margin-top: 50px;
}

ul {
  margin-left: 15px;
}