@charset "UTF-8";

/* todas as demais mídias */

/* Typical Device Breakpoints
Pequenas telas: até 600px
Celular: de 600px até 768px
Tablet: 768px até 992px
Desktop: 992px até 1200px
Grandes telas: acima de 1200px
 */

 :root {
    --corbody: #07111b;
    --cor6: #00000086;
    --cor7: #32434b;
    --cor8: #3aa6f9;
    --cor9: #0b1c2b;
    --cor10: #3aa6f9b6;

    --fonte-padrao: Arial, Verdana, Helvetica, Sans-serif;
    --fonte-Exo: 'Exo', sans-serif;
    --fonte-opensans: 'OpenSans', sans-serif;
}

 @media screen and (min-width: 768px) {

    /* --------------------menu navegação------------------------------ */
    
    #burguer {
        display: none;
    }

    nav {
        display: block;
    }

    nav a {
        margin-right: 15px;
    }

    nav a:hover {
        background-color: var(--corbody);
    }

    nav ul {
        background-color: var(--cor10);
        width: 100vw;
        text-align: right;
    }

    nav li {
        font-weight: bold;
        font-size: 18px;
        display: inline-block;
        padding: 1px;
    }

    main {
        width: 768px;
    }

    .foto {
    border-radius: 50%;
    width: 200px;
    filter: drop-shadow(0px 0px 15px #000);
}

        /* ---------------Página cronômetro ----------------- */

    .timer {
        font-size: 150px;
    }

    button {
        padding: 10px 15px;
        width: 100px;
      }

 }